@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "Space Mono", monospace;
}

@layer base {
  html, body {
    @apply bg-[#050505] text-white antialiased;
  }
}

/* Custom Scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #1B1D21;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2D3139;
}
